/Coffee Machine (Go)/Making coffee/
/Coffee Machine (Go)/Keeping track of the supplies/
/Coffee Machine (Go)/Ingredient calculator/
/Coffee Machine (Go)/Coffee for all/
/Coffee Machine (Go)/Buy, fill, take/
/Coffee Machine (Go)/The sandbox/
